{% extends 'base.html' %}

{% block title %} ASCII Gen {% endblock %}

{% block body %}

<div class="min-vw-100 min-vh-100 d-flex" style="background-color: #eee;">
    <div class="mx-auto my-auto" style="max-width: 90%; min-width: 90%;" id="comicdiv" >
    <div>

      <br/>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Instructions</h4>
          <p>
            ASCII Gen - PAGE IS UNDER DEVELOPMENT
          </p>

          <hr>
          Upload an image, choose threshold, click "Generate"
        
        </div>

        <div id="canvasdiv" style="display: none" class="text-center">
          
          <canvas id="canvas" style="max-width: 100%; max-height: 50%;"></canvas>
        </div>

        <div class="text-center">
          <input type="file" id="inp">
        </div>

        <br/>

        <div>

        </div>

        <div id="rotatediv" style="display: none" class="text-center">
          <button type="button" id="rotatebutton" class="btn btn-success">Rotate Image</button>
        </div>
        <br/>
        <div id="restorediv" style="display: none" class="text-center">
          <button type="button" id="restorebutton" class="btn btn-warning">Restore Image</button>
        </div>
        <br/>

        <div id="switches">

          <div class="input-group" style="margin-bottom: 1px">
            <span class="input-group-text" id="randomspan">Threshold (0-255)</span>
            <input type="text" id="threshold" class="form-control" placeholder="127" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          Determines the cut-off point for pixels that turn black/white. <br/>
          0 = All White, 255 = All Black

        </div>
        
        <br/>

        <div class="text-center">
          <button class="btn btn-lg btn-primary" id="generateThresholdButton">Generate Black and White Image</button>
        </div>
        <br/>

        <div class="text-center">
          <button class="btn btn-lg btn-primary" id="generateAscii">Generate ASCII</button>
        </div>

        <div id="filedisplay">
        </div>

    </div>
  </div>
</div>



<script type="text/javascript"> 

let thresholdUrl = "{{ url_for('threshold') }}";

// let canvasdiv = document.getElementById("canvasdiv");

let imageFileName = "";

let img = new Image();
let imgRestore = new Image();
let imgRestoreWidth = 0;
let imgRestoreHeight = 0;

generateAscii.addEventListener("click", (e) => {
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');
  let imageData = context.getImageData(0, 0, canvas.width, canvas.height);

  console.log(imageData);
  let colorGrid = [];
  for (let i = 0; i < canvas.width; i++) {
    colorGrid.push([]);
  }
  console.log(colorGrid)

  let colorIndices;
  let blackIndex;
  let blackForCoord;
  // colorIndices = getColorIndicesForCoord(0, 0, imageData.width);
  // blackIndex = colorIndices[3];
  // blackForCoord = imageData.data[blackIndex];

  for (let i = 0; i < canvas.width; i++) {
    for (let j = 0; j < canvas.height; j++) {
      colorIndices = getColorIndicesForCoord(i, j, imageData.width);
      blackIndex = colorIndices[2];
      blackForCoord = imageData.data[blackIndex];
      colorGrid[i].push(blackForCoord);
    }
  }

  console.log(colorGrid)

  let length = colorGrid.length;
  let height = colorGrid[0].length;

  let characterGrid = [];
  for (let i = 0; i < length; i++) {
    characterGrid.push([]);
  }

  let brailleMap = new Map();
  brailleMap.set("1,1,1,1","⡇")
  
  brailleMap.set("0,1,1,1","⡆")
  brailleMap.set("1,1,1,0","⠇")
  brailleMap.set("1,1,0,1","⡃")
  brailleMap.set("1,0,1,1","⡅")

  brailleMap.set("0,0,1,1","⡄")
  brailleMap.set("0,1,0,1","⡂")
  brailleMap.set("1,0,0,1","⡁")
  brailleMap.set("1,0,1,0","⢨") // wrong
  brailleMap.set("0,1,1,0","⠰")
  brailleMap.set("1,1,0,0","⠃")

  brailleMap.set("0,0,0,1","⡀")
  brailleMap.set("1,0,0,0","⠁")
  brailleMap.set("0,1,0,0","⠂")
  brailleMap.set("0,0,1,0","⠄")

  brailleMap.set("0,0,0,0","⠀")
  

  console.log(brailleMap.get("0,0,0,0"))
  console.log("⡇")

  let points = [0,0,0,0];
  for (let i = 0; i < length; i++) {
    for (let j = 0; j < height - 3; j = j + 4) {
      points = [0,0,0,0];
      if (colorGrid[i][j] != 0) {
        points[0] = 1
      }
      if (colorGrid[i][j+1] != 0) {
        points[1] = 1
      }
      if (colorGrid[i][j+2] != 0) {
        points[2] = 1
      }
      if (colorGrid[i][j+3] != 0) {
        points[3] = 1
      }
      // console.log(points)
      characterGrid[i].push(brailleMap.get(points.toString()))
      }
    }

  
  console.log(characterGrid);

  // Push character grid to text box
  let p = document.createElement("p");
  p.innerHTML = characterGrid;
  document.getElementById("filedisplay").appendChild(p);

  // let characterGrid = [];
  // for (let i = 0; i < length/2; i++) {
  //   characterGrid.push([]);
  // }

  // let brailleMap = new Map();
  // brailleMap.set([1,1,1,1,1,1,1,1],"⣿")
  // brailleMap.set([0,1,1,1,1,1,1,1],"⣾")
  // brailleMap.set([1,0,1,1,1,1,1,1],"⣽")
  // brailleMap.set([0,0,1,1,1,1,1,1],"⣼")


  // let points = [0,0,0,0,0,0,0,0];
  // for (let i = 0; i < length - 1; i = i + 2) {
  //   for (let j = 0; j < height - 3; j = j + 4) {
  //     if (colorGrid[i][j] != 0) {
  //       points[0] = 1
  //     }
  //     if (colorGrid[i][j+1] != 0) {
  //       points[1] = 1
  //     }
  //     if (colorGrid[i][j+2] != 0) {
  //       points[2] = 1
  //     }
  //     if (colorGrid[i][j+3] != 0) {
  //       points[3] = 1
  //     }
  //     if (colorGrid[i+1][j] != 0) {
  //       points[4] = 1
  //     }
  //     if (colorGrid[i+1][j+1] != 0) {
  //       points[5] = 1
  //     }
  //     if (colorGrid[i+1][j+2] != 0) {
  //       points[6] = 1
  //     }
  //     if (colorGrid[i+1][j+3] != 0) {
  //       points[7] = 1
  //     }
  //   }
  // }

})

function getColorIndicesForCoord(x, y, width) {
  var red = y * (width * 4) + x * 4;
  return [red, red + 1, red + 2, red + 3];
}

restorebutton.addEventListener("click", (e) => {
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');

  canvas.width = imgRestoreWidth;
  canvas.height = imgRestoreHeight;
  console.log(imgRestoreWidth)
  console.log(imgRestoreHeight)

  context.drawImage(imgRestore, 0, 0, imgRestoreWidth, imgRestoreHeight);

  img.src = canvas.toDataURL("image/png");
})

rotatebutton.addEventListener("click", (e) => {
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');
  let width = canvas.width;
  let height = canvas.height;

  let newwidth = height; // after rotation
  let newheight = width; // after rotation
  let scale = newwidth / img.height; // how much to scale the image to fit
  console.log("SCALE: ", scale)
  canvas.width = newwidth;
  canvas.height = newheight;
  context.setTransform(
      0,scale, // x axis down the screen
      -scale,0, // y axis across the screen from right to left
      newwidth,    // x origin is on the right side of the canvas 
      0         // y origin is at the top
  );
  context.drawImage(img,0,0);
  context.setTransform(1,0,0,1,0,0);

  // Remember the new orientation
  img.src = canvas.toDataURL("image/png");
})

document.getElementById('inp').onchange = function(e) {
  imageFileName = e.target.files[0].name;
  console.log(imageFileName);

  canvasdiv.removeAttribute("style");
  rotatediv.removeAttribute("style");
  restorediv.removeAttribute("style");

  // let img = new Image(); // This would prevent us from persisting the image correctly... I think
  img.onload = draw;
  img.onerror = failed;
  img.src = URL.createObjectURL(this.files[0]);
  imgRestore.src = URL.createObjectURL(this.files[0]);
};

function draw() {
  let canvas = document.getElementById('canvas');

  let width = this.width;
  imgRestoreWidth = width;
  let height = this.height;
  imgRestoreHeight = height;
  let totalpx = width * height;

  // Shrink image to 250k pixels or less, retain aspect ratio
  // Uncomment this if you need to improve performance
  // while (totalpx > 500000) {
  //   width = width * 0.9;
  //   height = height * 0.9;
  //   totalpx = width * height;
  // }

  // To generate the ASCII art we need the height of the image to be perfectly divisible by 4
  let aspectRatio = width / height;
  while (height % 4 != 0) {
    height--;
    width = height * aspectRatio;
  }

  if (width % 2 != 0) {
    width--;
  }

  canvas.width = width;
  canvas.height = height;

  let context = canvas.getContext('2d');
  context.drawImage(this, 0, 0, width, height);
};

function failed() {
  console.error("The provided file couldn't be loaded as an Image media");
}

generateThresholdButton.addEventListener("click", async (e) => {
  let canvas = document.getElementById("canvas")
  let context = canvas.getContext("2d");

  let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, 'image/jpeg'));
  
  let formData = new FormData();
  formData.append("image", imageBlob, imageFileName);

  let threshold = document.getElementById("threshold").value
  threshold = parseInputPercent(threshold, 127)
  console.log("threshold: ", threshold)

  formData.append("threshold", threshold)

  let response = await fetch(thresholdUrl, {
    method: 'POST',
    body: formData
  }).then(response => response.blob())
            .then(blob => {

              let image = new Image();
              
              image.onload = (event) => {
                console.log(event.target.src)
                URL.revokeObjectURL(event.target.src) // Release the blob to free memory
                context.drawImage(event.target, 0, 0)
                canvasdiv.removeAttribute("style");
              }

              image.src = URL.createObjectURL(blob);
              // Remember the sorting when rotating
              img.src = image.src;
            });
})

function parseInputPercent(inputval, defaultval) {
  inputval = parseInt(inputval, 10);

  if (isNaN(inputval) || inputval < 0) {
    console.log("inputval didn't parse, or was below zero. Setting to default.")
    inputval = defaultval;
  }

  return inputval
}

</script>

{% endblock %}